@import '~@blueprintjs/core/lib/scss/variables';

$indicator-padding: 2px;
.clue-card__delete {
  margin-left: auto;
}
.clue-card__multiline {
  min-height: $pt-grid-size * 2;
  position: relative;
  .#{$ns}-editable-text {
    width: 100%;
  }
  .#{$ns}-editable-text-content,
  .#{$ns}-editable-text-input {
    line-height: $pt-grid-size * 2;
  }
  > .mutation-status-indicator {
    background-color: white;
    border-radius: 50%;
    padding: #{$indicator-padding};
    position: absolute;
    right: #{$indicator-padding * -1};
    top: #{$indicator-padding * -1};
  }
}
.clue-card > .clue-card__row + .clue-card__row {
  margin-top: $pt-grid-size;
}
.clue-card__row {
  align-items: center;
  display: flex;
}
.clue-card__text {
  align-items: center;
  display: flex;
  max-width: calc(100% - #{$pt-grid-size * 3});
  min-height: $pt-grid-size * 2;
  &.clue-card__answer {
    margin-bottom: 0;
    max-width: calc(100% - #{$pt-grid-size * 7});
  }
  > .mutation-status-indicator {
    margin-left: $pt-grid-size;
  }
}
